<div class="spinner" *ngIf="isLoading">
  <mat-spinner diameter="80" color="accent"></mat-spinner>
</div>
<mat-card class="example-card" *ngIf="!isLoading">
  <mat-card-subtitle
    >{{ "RestorePassword.RestorePasswordInfo" | translate }}
  </mat-card-subtitle>
  <form class="example-form" [formGroup]="form">
    <mat-form-field
      class="example-full-width"
      appearance="outline"
      color="accent"
    >
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="emailControl"
        [errorStateMatcher]="matcher"
        placeholder="Email"
        #username
      />
      <mat-error *ngIf="form.get('emailControl')!.hasError('required')">
        {{ "Register.EmailRequired" | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('emailControl')!.hasError('email')">
        {{ "Register.EmailIncorrect" | translate }}
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      (click)="sendEmail()"
      color="accent"
      class="login-button"
      [disabled]="!form.valid"
    >
      {{ "RestorePassword.SendEmail" | translate }}
    </button>
  </form>
</mat-card>
