.filter-card {
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 8%;
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 20px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
}

::ng-deep .mat-raised-button {
  border-radius: 20px !important;
  margin-right: 1%;
}

::ng-deep .mat-card.filter-card{
  border: 1px solid rgb(150, 148, 148);
  border-radius: 30px !important;
 }

.example-chip-list {
  width: 100%;
}

td {
  width: 300px; 
}
