<div class="spinner" *ngIf="isLoading">
  <mat-spinner diameter="80" color="accent"></mat-spinner>
</div>
<mat-card class="example-card" *ngIf="!isLoading">
  <mat-card-content>
    <div *ngIf="isTokenProvided; else noToken">
      <div *ngIf="isTokenVerified; else wrongToken">
        <mat-card-title>{{
          "RestorePassword.EnterYourNewPassword" | translate
        }}</mat-card-title>
        <form class="example-form" [formGroup]="passwordForm">
          <mat-form-field
            class="example-full-width"
            appearance="outline"
            color="accent"
          >
            <mat-label>{{ "UserEdit.NewPassword" | translate }}</mat-label>
            <input
              [type]="hideNew ? 'password' : 'text'"
              matInput
              formControlName="newPasswordControl"
              [errorStateMatcher]="matcher"
              placeholder="New password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hideNew = !hideNew"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideNew"
            >
              <mat-icon>{{
                hideNew ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                passwordForm.get('newPasswordControl')!.hasError('required')
              "
            >
              {{ "Register.PasswordRequired" | translate }}
            </mat-error>
            <mat-error
              *ngIf="passwordForm.get('newPasswordControl')!.hasError('number')"
            >
              {{ "Register.PasswordDigit" | translate }}
            </mat-error>
            <mat-error
              *ngIf="
                passwordForm.get('newPasswordControl')!.hasError('capital')
              "
            >
              {{ "Register.PasswordCapitalLetter" | translate }}
            </mat-error>
            <mat-error
              *ngIf="passwordForm.get('newPasswordControl')!.hasError('small')"
            >
              {{ "Register.PasswordSmallLetter" | translate }}
            </mat-error>
            <mat-error
              *ngIf="
                passwordForm.get('newPasswordControl')!.hasError('special')
              "
            >
              {{ "Register.PasswordSpecialCharacter" | translate }}
            </mat-error>
            <mat-error
              *ngIf="
                passwordForm.get('newPasswordControl')!.hasError('minlength')
              "
            >
              {{ "Register.PasswordCharacters" | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field
            class="example-full-width"
            appearance="outline"
            color="accent"
          >
            <mat-label>{{
              "UserEdit.ConfirmNewPassword" | translate
            }}</mat-label>
            <input
              [type]="hideConfirm ? 'password' : 'text'"
              matInput
              formControlName="confirmNewPasswordControl"
              [errorStateMatcher]="matcher"
              placeholder="Confirm new password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hideConfirm = !hideConfirm"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideConfirm"
            >
              <mat-icon>{{
                hideConfirm ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                passwordForm
                  .get('confirmNewPasswordControl')!
                  .hasError('required')
              "
            >
              {{ "Register.ConfirmPasswordRequired" | translate }}
            </mat-error>
            <mat-error
              *ngIf="
                passwordForm
                  .get('confirmNewPasswordControl')!
                  .hasError('matching')
              "
            >
              {{ "Register.ConfirmDoesNotMatch" | translate }}
            </mat-error>
          </mat-form-field>
          <p><ng-container #passwordContainer></ng-container></p>
          <button
            color="accent"
            mat-flat-button
            class="button"
            type="submit"
            (click)="changePassword()"
            [disabled]="!passwordForm.valid"
          >
            {{ "UserEdit.ChangePassword" | translate }}
          </button>
        </form>
      </div>
      <ng-template #wrongToken>
        <mat-card-subtitle
          >{{ "RestorePassword.InvalidToken" | translate }}
          <a href="/restore-password-email">{{
            "RestorePassword.Here" | translate
          }}</a>
          {{ "RestorePassword.FollowInstructions" | translate }}.
        </mat-card-subtitle>
      </ng-template>
    </div>
    <ng-template #noToken>
      <mat-card-subtitle
        >{{ "RestorePassword.IfYouWantToRestorePassword" | translate }}
        <a href="/restore-password-email">
          {{ "RestorePassword.ThisPage" | translate }}</a
        >
        {{ "RestorePassword.EnterEmail" | translate }}.</mat-card-subtitle
      >
    </ng-template>
  </mat-card-content>
</mat-card>
